<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/styles.css">
	<title></title>
</head>
<body>

<div align="center">
	<font color="red" size="30" face="geor">INFORMATICA</font>
<h2 class="colorletra">
		
		<p>SALA DE RECEPCION<br>
			
<br> <br>
En el Hospital General, el Hospital de Traumatología y en el Hospital Materno Infantil existirá una Comisión de Dirección de Centro cuyas funciones son la coordinación general entre las diferentes áreas y la elaboración de planes y propuestas en materia de organización y gestión de la actividad asistencial

Propondrá al Comité Director del Hospital para su aprobación los planes y propuestas en materia de gestión de personal, así como en lo relativo a la gestión de infraestructuras, instalaciones y equipamientos. Propondrá, igualmente, los criterios generales para el establecimiento de los acuerdos anuales con las unidades y servicios, en materia de objetivos operativos, así como para la distribución de incentivos vinculados al complemento de rendimiento profesional.

Será función de la Comisión de Dirección de Centro el análisis de las situaciones vinculadas al ejercicio de los derechos establecidos en la Carta de Derechos y Deberes de los usuarios del SSPA, así como el establecimiento de las acciones correctoras necesarias. Igualmente, se ocupará del análisis permanente de la situación en materia de accesibilidad asistencial, así como de la adopción de cuantas medidas sean precisas para garantizar este derecho e los términos establecidos por la normativa vigente.

La Comisión de Dirección de Centro está compuesta por los siguientes órganos directivos:

Subdirección Médica del Centro
Subdirección de Enfermería del Centro
Subdirección de Servicios Generales del Centro
Responsable de atención al usuario del Centro
En el Hospital General formaran parte también:

La Subdirección Médica responsable de servicios centrales de apoyo al diagnóstico
La Subdirección Médica de cooperación e integración asistencial
Actuará como Presidente, la Subdirección médica del centro y, en ausencia de ésta, la Subdirección de enfermería. La comisión de Dirección de Centro se reunirá, al menos, una vez a la semana. El Comité de Calidad. La gestión de la calidad es objetivo estratégico del Hospital. En este sentido, la dirección de las políticas de calidad reside en la Dirección Gerencia, contando con el apoyo del Comité de Calidad para el análisis.<br>
<br> <br>

<img src="https://st2.depositphotos.com/6464944/11547/v/950/depositphotos_115477626-stock-illustration-hospital-hall-interior-with-nurse.jpg">
</body>
</html>