<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/styles.css">
	<title></title>
</head>
<body>

<div align="center">
	<font color="red" size="30" face="geor">EMPLEADOS</font>
<h2 class="colorletra">
		
		<p>PERSONAL<br>
			
<br> <br>
juan de la garza (limpieza)<br>
<br> <br>
antonio garcia (recepcionista)<br>
<br> <br>
juan muñoz (medico)<br>
<br> <br>
 alberto paz(limpieza)<br>
<br> <br> 

maximiliano lombardi (limpieza)<br>
<br> <br>
juan perez (medico)<br>
<br> <br>
hernestina luna (enfermera))<br>
<br><br>
vinicio fuentes (ascesor)<br>
<br> <br>
nirsa pelen (camillera)<br>
<br> <br>
darlyn barillas (gerente)<br>
<img src="https://image.freepik.com/vector-gratis/trabajadores-hospital_1214-47.jpg">
</body>
</html>