<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/styles.css">
	<title></title>
</head>
<body>

<div align="center">
	<font color="red" size="30" face="geor">MANUAL DE USUARIO</font>
<h2 class="colorletra">
		
		<p><u>HOSPITAL MILITAR</u><br>
			<img src="http://www.madrid.org/cs/Satellite?blobcol=urldata&blobheader=image%2Fjpg&blobheadername1=Content-disposition&blobheadername2=cadena&blobheadervalue1=filename%3Dplano_transporte_h12o_2013_.jpg&blobheadervalue2=language%3Des%26site%3DHospital12Octubre&blobkey=id&blobtable=MungoBlobs&blobwhere=1352838109695&ssbinary=true">
<br> <br>
en el mapa muestra como llegar a nuestro hospital<br>
<img src="https://slideplayer.es/slide/1738978/7/images/41/CONCLUSIONES.jpg">
 <br>en el siguiente cronograma muestra lo siguientes temas en funcion hospitalaria<br>
<img src="https://www.monografias.com/trabajos57/manual-normas-administrativo/Image1.gif">
</body>
</html>