<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/styles.css">
	<title></title>
</head>
<body>

<div align="center">
	<font color="red" size="30" face="geor">PACIENTES</font>
<h2 class="colorletra">
		
		<p>PERSONAS<br>
			
<br> <br>
JUANA MUÑOZ (quebradura)<br>
<br> <br>
ANAI LOPEZ (torcedura)<br>
<br> <br>
JUAN LOPEZ (torcedura)<br>
<br> <br>
 ISAIS SANTOS (dedos quebrados)<br>
<br> <br> 

PEDRO ALMENDRA (desmayado)<br>
<br> <br>
PABLO APAJA (pierna rota)<br>
<br> <br>
PEDRO LUNA (clamatoma)<br>
<br><br>
HAMILTON LOPEZ (torcedura)<br>
<br> <br>
BRAYAN CHAJON (quemaduras)<br>
<br> <br>
CARLOS GONZALES (mano quedrada)<br>
<img src="https://files.rcnradio.com/public/migration/Hospital.-Sala-Urgencias.jpg">
</body>
</html>