<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/styles.css">
	<title></title>
</head>
<body>

<div align="center">
	<font color="red" size="30" face="geor">ORGANIZACION HOSPITALARIA</font>
<h2 class="colorletra">
		
		<p>HOSPITAL MILITAR<br>
			
<br> <br>
Engloba a todas las áreas del hospital que tienen una función asistencial, es decir atención directa del paciente por parte de profesionales del equipo de salud. Hay dos áreas primordiales en la asistencia directa del paciente:<br>
<br> <br>
los consultorios externos para atender pacientes con problemas ambulatorios (que no requieren internación)
las áreas de unidad del paciente, para cuidado de problemas que sí requieren hospitalización.<br>
<br> <br>
-unidad del paciente: se nombra así al espacio y conjunto que utiliza el paciente durante su estancia en el hospital, puede ser una habitación individual o con camas varias separadas por medio de cortinas<br>
<br> <br>
 Esta debe tener espacio suficiente para acceder a la cama por 3 de sus lados y contar con un cajonera para guardar pertenencias del paciente<br>
<br> <br> 

 toma de oxígeno y toma de vacío<br>
<br> <br>
Un hospital de primer nivel abarca atención preventiva - curativa. En la atención primaria se llega a consulta externa por algún padecimiento no urgente.<br>
<br> <br>
En un hospital de Segundo Nivel se da la atención a pacientes con padecimientos de urgencia. Es pues, la atención que se brinda a los pacientes en un espacio más amplio,<br>
<br><br>
ya que la mayoría de estos presentan ya patologías que no se pueden tratar en el Primer Nivel de Atención, las que se deben de confirmar, y analizar para poder llevar a cabo el tratamiento y finalmente la restauración completa de la salud del paciente.<br>
<br> <br>
Los hospitales de Tercer Nivel son un conjunto de establecimientos de salud con niveles de complejidad diferentes, necesarios para resolver con eficacia necesidades de salud de diferente magnitud y severidad<br>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Emergencia_Peid%C3%A1trica_Observaci%C3%B3n.jpg/1280px-Emergencia_Peid%C3%A1trica_Observaci%C3%B3n.jpg">
</body>
</html>