<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/styles.css">
	<title></title>
</head>
<body>

<div align="center">
	<font color="red" size="30" face="geor">FARMACIA</font>
<h2 class="colorletra">
		
		<p>MEDICAMENTOS<br>
			
<br> <br>
ampollas bebibles<br>
<br> <br>
bolsas de agua<br>
<br> <br>
capsulas<br>
<br> <br>
 alcohol<br>
<br> <br> 

neumelubrinas<br>
<br> <br>
gazas<br>
<br> <br>
agua oxigenada<br>
<br><br>
jeringas<br>
<br> <br>
nauseoles<br>
<br> <br>
vitaflenaco<br>
<img src="https://www.plazapublica.com.gt/sites/default/files/341270_2.jpg">
</body>
</html>